.footer {
  background-color: $light-grey;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 1.5rem 1.5rem 1.5rem;

  .content {
    a:visited {
      color: $black;
    }
  }
}
